.git
.venv
venv
__pycache__
*.pyc
.env
.env.*

dataset
notebooks
docs

frontend/node_modules
frontend/.next
frontend/out
frontend/.turbo

models/*
!models/class_names.txt
!models/efficientnet_model.h5

*.npy
*.pkl
*.ipynb
custom_cnn_model.h5
test_leaf.jpg
example.jpg
rapport_overleaf.tex
